# virtual environment
venv-pytpt/

# data directory
examples/data/

# charts directory
examples/charts/

# paper intro file
examples/intro_example.py

# pycharm framework
.idea

# compiled pythonfiles
*.pyc

# swap files
*.swp

# egg info
*.egg-info
