# virtual environment
venv-transitions/

# data directory
transitions/examples/data/

# charts directory
transitions/examples/charts/

# pycharm framework
.idea

# compiled pythonfiles
*.pyc

# swap files
*.swp

*.egg-info
